
/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .header-content{
        width: 90%;
        height: auto;
        margin: 0 auto;
        flex-direction: column-reverse;
    }
    .header-img img{
        width: 100%;
        height: auto;
    }
    .header-text{
        width: 100%;
        padding: 20px;
    }
    .header-text h1{
        font-size: 2rem;
        font-weight: 700;
        color: #272727;
    }
    .header-text p{
        font-size: 1rem;
        font-weight: 400;
        color: #272727;
        opacity: 60%;
        margin: 32px 0;
    }
    .btn{
        padding: 1rem 2rem;
    }

    /* main style */
    .section-content {
        width: 90%;
    }
    .section-featured-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .section-featured-item {
        padding: 110px 0 0;
    }
    .flower-title {
        margin-bottom: 48px;
    }

    .help-line {
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px 0px;
    }

    .helpline-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .helpline-item{
        padding: 50px 0;
    }
    /* offer style */
    .offer{
        padding: 50px 10px;
    }
    .offer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .offer-content img{
        grid-area: picture;
        margin: 0 auto 50px;
    }
    .content-area{
        grid-area: content-area;
    }
    .offer-content{
        grid-template-areas: "picture"
        "content-area";
    }
    .content-area{
        width: 100%;
        padding: 10px;
    }
    /* instagram style */
    .instagram{
        margin: 58px 0;
    }
    .instagram-content{
        grid-template-columns: repeat(1, 1fr);
    }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
    .header-content{
        width: 90%;
        height: auto;
        margin: 0 auto;
        flex-direction: column-reverse;
    }
    .header-img img{
        width: 100%;
        height: auto;
    }
    .header-text{
        width: 100%;
        padding: 20px;
    }
    .header-text h1{
        font-size: 2rem;
        font-weight: 700;
        color: #272727;
    }
    .header-text p{
        font-size: 1rem;
        font-weight: 400;
        color: #272727;
        opacity: 60%;
        margin: 32px 0;
    }
    .btn{
        padding: 1rem 2rem;
    }
    /* main style */
    .section-content {
        width: 90%;
    }
    .section-featured-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .section-featured-item {
        padding: 110px 0 0;
    }
    .flower-title {
        margin-bottom: 24px;
    }
    .help-line {
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px 0px;
    }

    .helpline-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .helpline-item{
        padding: 50px 0;
    }
    /* offer style */
    .offer{
        padding: 50px 10px;
    }
    .offer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .offer-content img{
        grid-area: picture;
        margin: 0 auto 50px;
    }
    .content-area{
        grid-area: content-area;
    }
    .offer-content{
        grid-template-areas: "picture"
        "content-area";
    }
    .content-area{
        width: 100%;
        padding: 10px;
    }
    /* instagram style */
    .instagram{
        margin: 58px 0;
    }
    .instagram-content{
        grid-template-columns: repeat(1, 1fr);
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
    .header-content{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .header-img img{
        width: 100%;
        height: auto;
    }
    /* .header-text{
        width: 40%;
        padding: 20px;
    } */
    .header-text h1{
        font-size: 3rem;
        font-weight: 700;
        color: #272727;
    }
    /* main style */
    .section-content {
        width: 600px;
    }
    .section-featured-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .section-featured-item {
        padding: 110px 0 0;
    }
    .flower-title {
        margin-bottom: 24px;
    }
    .help-line {
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px 0px;
    }

    .helpline-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .helpline-item{
        padding: 50px 0;
    }
    /* offer style */
    .offer{
        padding: 50px 10px;
    }
    .offer-content{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .content-area{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
     .content-area .offer-title {
        font-size: 1.5rem;
    }
    /* instagram style */
    .instagram{
        margin: 58px 0;
    }
    .instagram-content{
        grid-template-columns: repeat(2, 1fr);
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1190px) { 
    .header-content{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .header-img img{
        width: 100%;
        height: auto;
    }
    .header-text{
        width: 45%;
    }
    .header-text h1{
        font-size: 5rem;
        font-weight: 900;
        color: #272727;
    }
    /* main style */
    .section-content {
        width: 600px;
    }
    .section-featured-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .section-featured-item {
        padding: 110px 0 0;
    }
    .flower-title {
        margin-bottom: 24px;
    }
    /* offer style */
    .offer{
        padding: 50px 10px;
    }
    .offer-content{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .content-area{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
     .content-area .offer-title {
        font-size: 1.5rem;
    }
    /* instagram style */
    
    .instagram-content{
        grid-template-columns: repeat(3, 1fr);
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .header-content{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    /* main style */
    .section-content {
        width: 600px;
    }
    .section-featured-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .section-featured-item {
        padding: 110px 24px 0;
    }
    .flower-title {
        margin-bottom: 24px;
    }
    /* offer style */
    .offer-content{
        grid-template-columns: repeat(2, 1fr);
    }
    /* instagram style */
    
    .instagram-content{
        grid-template-columns: repeat(4, 1fr);
    }
 }